.titulos{
    margin-right: 1020px;
    
background-color: #e5eef5;
}


.fondom{
    background-image: url("../assets/img/newzapa.png");
    background-color: #44aff7;
}


section h1{
    margin-left: 46.5em;
    color: rgb(216, 17, 110);
    font-family: sans-serif;
}  

h2{
    text-align: center;
   }
   

header nav ul {
   padding-left: 0px;
}

section nav ul li a{
    font-weight: bold;
    font-size: 0.5cm;
    text-decoration: none;
    color:#080808;
}



.header{
    background-image: url("../assets/img/menu.png");
       background-repeat: no-repeat;
       
       
}


li{
    display: list-item;
    text-align: -webkit-match-parent;
}

ul{
    list-style: none;
}

header nav{
    
    background-color: #404040;
    position:sticky;
    top:0;
    

}

header h1 {
    color:rgb(177, 25, 177);
    
   
}


.imag{
    position: relative;
    left: 65em;
   
}

.menu1{
        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 17px;
 
}

.levantar{
 
    background-color: rgb(89, 87, 94);
}

.menucolor ul a:hover{
    color:#f78644;
    background-color: rgb(204, 0, 255);
}


.menu{
    
    text-align: center;
    color: rgb(238, 14, 182);
    font-family: sans-serif;
    background-color: rgb(85, 248, 248);
    
}


.direccion1{
    position: relative;
    left: 350px;
}
.direccion2{
    position: relative;
   left: 250px;
}

.menus{
    font-size: 1.70cm;
}

.menus1{
    font-size: 1.24cm;
}

.contenedor{
    height: 693px;
    width: 1180px;
}

.container{
    margin-left: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mover{
    position: relative;
    bottom: 120px;
}

.escala:hover{
    padding: 50px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.escala1{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #F1C40F;
  }
  .escala1:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }


  .redes{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #070707;
  }
  .redes:hover{
    border-style: solid;
    border-color: #2929cc;
    border-color: rgb(182, 53, 53);}
 

/*-------------*/




/*catalogo*/


.menu2 {
        
        font-weight: bold;
        font-size: 0.5cm;
        text-decoration: none;
        color:#080808;    
}

.fondou{
    background-color: lightblue;
    background-image: url("../assets/img/newzapa.png");
}

.titulo{
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
   margin-top: 60px;
    font-size: 30px;
}

.fondoh{
    background-color: aliceblue;
    color: deeppink
}



.contenedorr{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    
}

.caja img{
    width: 220px;
    height: 300px;
    border-radius: 30px;
}




.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}


.caja{
    margin: 15px;
    border: 5px solid black;
    background-color: #f3f7fa;
 }

 .fondop{
    background-color: aliceblue;
    color: deeppink;
}




/*---contacto*/




  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .color1 {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
  }
  
  
  
  
  .color{
    color: deeppink;
      font-family: sans-serif;
  }

/*-----faq------*/

.grilla{
    display: grid;
    grid-template-columns:  650px 650px;
    grid-template-rows: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

}


.bor{
    border: 5px solid black;
    background-color: #eee2d1;
    margin-bottom: 10px;
}


.margen{
    margin-right: 160px;
    margin-left: 150px;
}


.men{
    
    text-align: center;
    color: rgb(238, 14, 182);
    font-family: sans-serif;
    background-color:#eee2d1;
    margin-left: 1px;
    margin-right: 50px;
    margin-top: 60px;
    
}


.ancho{
    
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.centrar{
    text-align: center;
}



.menur{
    text-align: center;
    color: rgb(238, 14, 182);
    font-family: sans-serif;
    
}



.fondo1{
        background-color: #080808;
        margin-top: 200px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 30px;
        justify-content: center;
        text-align: center;
        font-weight: bold;
       
    
}






/*-----nosotros------*/

.margen1{
 
    border: 50px solid black;
    color: deeppink;
    font-family: sans-serif;
    background-color: #e5eef5;
    position: relative;
   
}



.margen2{
    color: deeppink;
    border: 30px solid black;
   text-align: center;
    background-color: #e5eef5;
    
    
}

.margen3{
   width: 100%;
}



.fondoa{
    background-color: #4C9ED9;
}



@media screen and (max-width: 420px) {


/*todos*/

    .menu{

  padding: 14px 16px;
  font-size: 17px;
  display: block;
}

.menu1{
        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    right: 17px;
    margin-bottom: 10px;
}

/*faq*/

.grilla{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

.margen{
    margin-left: 40px;
    margin-right: 40px;
}

.men{
    margin-left: 1px;
    margin-right: 1px;
}

/*catalogo*/

.contenedorr{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;

}

/*redes*/

.fondo1{
    grid-column-gap: 10px;
}

}

@media screen and (min-width: 421px) and (max-width: 1023px) {

      
      .menu1{
              
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          position: relative;
          right: 17px;
          margin-bottom: 10px;
      }


    .margen{
        margin-left: 80px;
        margin-right: 80px;
    }

        

.levantar {
    background-color: rgb(89, 87, 94);
}

    .grilla{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    
    }


}

@media screen and (min-width: 1024px) {
     
   /*todos*/ 
    
.menu{
    
    text-align: center;
    color: rgb(238, 14, 182);
    font-family: sans-serif;
    background-color: rgb(85, 248, 248);
    border: #080808 10px;
}


.menu1{
        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 17px;
 
}

/*faq*/

.grilla{
    display: grid;
    grid-template-columns:  650px 650px;
    grid-template-rows: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;

}
    

.margen{
    margin-right: 160px;
    margin-left: 150px;
}


.men{
    
    text-align: center;
    color: rgb(238, 14, 182);
    font-family: sans-serif;
    background-color:#eee2d1;
    margin-left: 1px;
    margin-right: 50px;
    margin-top: 60px;
    
}

/*catalogo*/


.contenedorr{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    
}


/*redes*/


.fondo1{
    background-color: #080808;
    margin-top: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
   

}



}


