header{
    h1{ color:rgb(177, 25, 177);}
nav{    background-color: #404040;
        position:sticky;
        top:0;
    ul{
        padding-left: 0px;
    }
}
}


.header{
    background-image: url("../assets/img/menu.png");
       background-repeat: no-repeat;
              
}
