/*-----nosotros------*/

.margen1{
 
    border: 50px solid black;
    color: deeppink;
    font-family: sans-serif;
    background-color: #e5eef5;
    position: relative;
   
}



.margen2{
    color: deeppink;
    border: 30px solid black;
   text-align: center;
    background-color: #e5eef5;
    
    
}

.margen3{
   width: 100%;
}



.fondoa{
    background-color: #4C9ED9;
}
